.menu1 {
    padding-left: 1vw;
}

.menu2 {
    margin-right: -1vw;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
}

/* main container starts */
#wrapper{
    display: -ms-grid;
    display: grid;
    width: 96vw;
    max-width: 100%;
    height: auto;
        -ms-grid-columns: 4% 0 4% 0 25% 0 17% 0 4% 0 30% 0 8% 0 8%;
        grid-template-columns: 4% 4% 25% 17% 4% 30% 8% 8%;  
        -ms-grid-rows: 26vw 0 7vw 0 35vw 0 auto 0 auto 0 auto 0 auto 0 auto 0 auto 0 auto;  
        grid-template-rows: 26vw 7vw 35vw auto auto auto auto auto auto auto;
                    grid-template-areas: 
    "menu menu . . . grn lang lang"
    "stry stry stry . . . . ."
    "int int int int cva cva cva cva"
    "sha sha sha sha sha sha sha sha"
    "act1 act1 act1 act1 act2 act2 act2 act2"
    "bcn bcn bcn bcn bcn bcn bcn bcn"
    "act22 act22 act22 act22 act3 act3 act3 act3"
    "gva gva gva gva gva gva gva gva"
    "pln pln pln pln act4 act4 act4 act4"
    "bhz bhz bhz bhz bhz bhz bhz bhz";
    grid-gap: 0;
    margin: 0;
}

/* main image */

.eufoto { 
    position: absolute;
    width: 100%;
    z-index: -1;
}

/* title blocks */

.green {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
    grid-area: grn;
    width: 90%;
    background: #18ec9f;
    padding: 0 12%;
    margin-left: -8.5%;
}

.greybg {
     -ms-grid-row: 1;
     -ms-grid-column: 11;
     grid-area: grn;
     display: none;
    }

.story {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: stry;
    background: #fff;
    padding-top: 1.8em;
    padding-left: 2em;
}


/* intro area */

.text { 
    padding: 2em;
}

.intro {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: int;
    padding: 1em 2em;
}

.intro h3 {padding-bottom: 2em;}

.cv {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
    -ms-grid-column-span: 7;
    grid-area: cva;
}

.hands { 
    display: block;
    position: absolute;
    z-index: -1;
    width: 47%;
}

.icn { 
    position: relative;
    top: 20%;
    left: 10%;
    width: 7%;
}

#btncv {
    position: relative;
    top: 23%;
    left: 10%;
    width: 7em;
}

/* sha pic area */

.sha {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 15;
    grid-area: sha;
    width: 100vw;
}

.act1 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: act1;
}

.act2 {
    -ms-grid-row: 9;
    -ms-grid-column: 9;
    -ms-grid-column-span: 7;
    grid-area: act2;
}

/* bcn pic area */

.bcn {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 15;
    grid-area: bcn;
    width: 100vw;
}

.act22 {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: act22;
}

.act3 {
    -ms-grid-row: 13;
    -ms-grid-column: 9;
    -ms-grid-column-span: 7;
    grid-area: act3;
}

/* gva pic area */

.gva {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
    -ms-grid-column-span: 15;
    grid-area: gva;
    width: 100vw;
}

.plane {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: pln;
        -ms-grid-column-align: center;
            justify-self: center;
    width: 70%;
}

.act4 {
    -ms-grid-row: 17;
    -ms-grid-column: 9;
    -ms-grid-column-span: 7;
    grid-area: act4;
}

/* bhz pic area */

.bhz {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
    -ms-grid-column-span: 15;
    grid-area: bhz;
    width: 100vw;
}

@media screen and (min-width: 320px) and (max-width:667px){
    .green{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
}
    .greybg{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
}
    .story{
        -ms-grid-row: 5;
        -ms-grid-column: 1;
}
    .intro{
        -ms-grid-row: 7;
        -ms-grid-column: 1;
}
    .cv{
        -ms-grid-row: 29;
        -ms-grid-column: 1;
}
    .sha{
        -ms-grid-row: 9;
        -ms-grid-column: 1;
}
    .act1{
        -ms-grid-row: 11;
        -ms-grid-column: 1;
}
    .act2{
        -ms-grid-row: 15;
        -ms-grid-column: 1;
}
    .bcn{
        -ms-grid-row: 13;
        -ms-grid-column: 1;
}
    .act22{
        -ms-grid-row: 17;
        -ms-grid-column: 1;
}
    .act3{
        -ms-grid-row: 21;
        -ms-grid-column: 1;
}
    .gva{
        -ms-grid-row: 19;
        -ms-grid-column: 1;
}
    .plane{
        -ms-grid-row: 23;
        -ms-grid-column: 1;
}
    .act4{
        -ms-grid-row: 25;
        -ms-grid-column: 1;
}
    .bhz{
        -ms-grid-row: 27;
        -ms-grid-column: 1;
}   
}


/* mobile layout */
@media screen and (min-width: 320px) and (max-width:667px){
    #wrapper{
    display: -ms-grid;
    display: grid;
    width: 100vw;
    max-width: 100%;
    height: auto;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;  
            -ms-grid-rows: 50.5vw 0 62vw 0 0.8fr 0 auto 0 auto 0 auto 0 auto 0 auto 0 auto 0 auto 0 auto 0 auto 0 auto 0 auto 0 auto;  
            grid-template-rows: 50.5vw 62vw 0.8fr auto auto auto auto auto auto auto auto auto auto auto auto;
                grid-template-areas: 
    "grn"
    "main"
    "stry"
    "int"
    "sha"
    "act1"
    "bcn"
    "act2"
    "act22"
    "gva"
    "act3"
    "pln"
    "act4"
    "bhz"
    "cva";
    grid-gap: 0;
    margin: 0;
}
    /* move main img to green box */      
 .greybg {
     display: block;
     -ms-grid-row: 1;
     -ms-grid-column: 11;
     grid-area: grn;
     position: relative;
     background-color: #262626;
     width:100%;
     z-index: -1;
    }
    
    .green {
    -ms-grid-row: 1; 
    -ms-grid-column: 1;
    width: 45%;
    height: auto;
    background: #18ec9f;
    position: relative;
    left: 20%;
    margin: 0;
}
    
.eufoto {
    position: static;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    }
     
.story {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    width: 60%;
    padding-top: 2em;
    }
    
/* intro area */

.text { 
    padding: 2em;
}

.intro {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    padding: 0 2em 2em 2em;
}
    
.sha {
        -ms-grid-row: 5;
     -ms-grid-column: 1;
    }
    
.act1 {
        -ms-grid-row: 6;
     -ms-grid-column: 1;
    }

.bcn {
        -ms-grid-row: 7;
     -ms-grid-column: 1;
    }
    
.act2 {
    -ms-grid-row: 8;
     -ms-grid-column: 1;
    padding-bottom: 1em;
}
    
.act22 {
    -ms-grid-row: 9;
     -ms-grid-column: 1;
    padding-top: 0;
}
    
.gva {
    -ms-grid-row: 10;
     -ms-grid-column: 1;
    padding-bottom: 1em;
}
    
.act3 {
    -ms-grid-row: 11;
     -ms-grid-column: 1;
    padding-bottom: 0;
}
    
.plane {
    -ms-grid-row: 12;
     -ms-grid-column: 1;
}
    
.act4 {
    -ms-grid-row: 13;
     -ms-grid-column: 1;
    padding-top: 0;
}
    
.bhz {
    -ms-grid-row: 14;
     -ms-grid-column: 1;
}
    
.cv {
    -ms-grid-row: 15;
     -ms-grid-column: 1;
    padding: 2em 0;
}

.hands { 
    display: block;
    position: relative;
    z-index: 1;
    width: 80%;
}

.icn { 
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 1em;
    width: auto;
}

#btncv {
    position: relative;
    top: 0;
    left: 0;
    width: 7em;
}   
}

    
@media screen and (min-width: 1367px) {
    #wrapper{
    width: 1366px;
    -ms-grid-rows: 380px 80px 500px auto auto auto auto auto auto auto;  
    grid-template-rows: 380px 80px 500px auto auto auto auto auto auto auto;
    margin: 0 auto;
}
    
    .menu2 {
    margin-right: 0.5vw;
}
    
    /* main image */

.eufoto { 
    width: 1366px;
}

/* title blocks */
.green { 
        width: 86%;
        padding: 0 13%;
        margin-left: -13%;
    }
    
.story {  
    padding-top: 1.8em;
    padding-left: 1.5em;
    margin-left: -1%;
}


/* intro area */

.text { 
    padding: 2em;
}

.intro {
    padding: 2em 1.5em;
}

.intro h3 {padding-bottom: 2em;}

.hands { 
    width: auto;
}

.icn { 
    width: auto;
}

/* gva pic area */

.plane {
    width: auto;
}
}