/* global styling */
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
	}

html, body {
    background-color: white;
    min-height: 100%;
}

html {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: black;
    overflow-x: hidden;
}

body {
    margin: 10px;
    border: 2px solid black;  
}

hr {
    margin: 0 0 3vw 0; 
    border-top: 2px solid black;    
}

div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

/*global ul with no effects*/
ul li {
	list-style: none;
    font-size: 0.7em;
    font-weight: 400;
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
}

	ul li a{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300; 
		text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
	}

/* text styles */
h1, p {
	font-family: 'Playfair Display', serif;
}

h2, h3 {
        font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1;
    margin: 0.4em 0;
}

h1.pgname {
    font-size: 4em;
    letter-spacing: -0.11em;
    font-weight: 700;
    text-align: center;
  display: inline-block;
  line-height: 1;
    -webkit-box-shadow: 0 10px 0 -8px black;
            box-shadow: 0 10px 0 -8px black;
}

h2 {
    font-size: 0.7em;
    font-weight: 300;
}

h3 {
    font-size: 0.6em;
    font-weight: 400;
    text-transform: uppercase; 
}

p {
    font-weight: 400;
    font-size: 0.7em;
    line-height: 1.75em;
    padding-bottom: 1.75em;
}

a, a:visited, a:hover, a:active { 
    color: black;
    position: relative;
    text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: visible;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
  visibility: hidden;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

/* The side navigation menu */
.burger {
    grid-area: menu;
    display: block;
    position: fixed;
    margin: 2rem;
    left: 0;
    top: 0;
    z-index: 9999;
    cursor: pointer;
    width: 40px;
    height: 35px;
}

.burger .burgerline {
    display: block;
    width: 100%;
    height: 2.5px;
    border: 0px solid;
    border-radius: 5px; 
    background: black;
    position: relative;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}

.burger .burgerline:nth-of-type(2) { 
    margin: 0.3rem 0; 
}

.burger .burgerline--1 {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 13px;
    position: absolute;
}

.burger .burgerline--2 { display: none; }

.burger .burgerline--3 {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 13px;
    position: absolute;
}

.mobile-menu {
    display: block;
    width: 160px;
    height: 100vh;
    left: -100%;
    background-color: transparent;
    background-color: rgba(255,255,255,0);
    position: fixed;
    z-index: 9998;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    top: 0;
    opacity: 0;
}

.mobile-menu ul {
    margin: 60% 0 0 30%;
    padding: 0;
}

.mobile-menu ul li {
    display: block;
    padding-top: 15px;
    padding-bottom: 0;
}

.mobile-menu ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.mobile-menu ul li a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.mobile-menu--open {
    left: 0;
    opacity: 1;
}

/* imagens  */
img { 
    width: 100%;
}

/* footer */
footer { 
    margin: 0 1vw 3vw 1vw;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 0.55rem;
    line-height: 1.5em;
    padding: 0;
}

/* media query font size larger screens*/
@media only screen and (min-width: 769px) and (max-width:1919px){
    html {
        font-size: calc(14px + 10 * ((100vw - 769px) / 680));
    }
}

/* media query font size mobile */
@media only screen and (max-width:768px){
    html {
        font-size: calc(14px + 10 * ((100vw - 320px) / 680));
    }   
}

@media only screen and (max-width:425px){
h1.pgname {
    font-size: 2.9em;
}  
}

@media only screen and (min-width: 426px) and (max-width:768px){
h1.pgname {
    font-size: 3.2em;
}   
}

@media only screen and (max-width:1024px){
    a, a:visited, a:hover, a:active { 
    color: black;
    position: relative;
    text-decoration: underline;
}

a::before {
  content: none;
}
    
    .mobile-menu ul li a::before {
  content: none;
}
}
 
/* media query above 1366 */
@media only screen and (min-width: 1920px) {
    html { 
        font-size: 36px; 
    }  
}