div {
    display: flex;
  flex-direction: column;
  justify-content: center;
}

/* main container starts */
#wrapper{
  display: grid;
    width: 96vw;
    height: auto;
  grid-template-columns: 4% 4% 46% 30% 8% 8%;
    grid-template-rows: minmax(20px, auto);
    grid-template-areas: 
    "menu menu main grn lang lang"
    "menu menu main gry . ."
    ". feat feat wrk wrk ."
    "cntt cntt cntt cntt cntt cntt";
     grid-gap: 0;
    margin: 0 2% 3% 2%;
}


/* main image */

.eu { 
    grid-area: menu/main;
    position: absolute;
    width: 56vw;
    padding-top: 1em;
    z-index: -1;
}

/* main blocks */

.green { 
    align-items: center;
    grid-area: grn;
    width: 90%;
    height: 90%;
    background: #18ec9f;
    padding: 12%;
    margin-left: -15%;
}

.grey { 
    grid-area: gry;
    width: 91%;
    height: 80%;
    background-color: #262626;
    color: #fff;
    padding: 13%;
    margin-top: 4%;
    margin-left: 20%;
}

.grey #btnme{ 
    height: 1.7em;
    width: 7em;
    padding: 0;
    margin: 10% 0 0 45%;

}


/* work area */

	.imgmask{
		position: relative;
	}

	.imgmask:hover{
		cursor: pointer;
	}

	.imgmask:hover img{
		-webkit-opacity: 0.5;
        opacity: 0.5;
	}

	.imgmask:hover .mask{
        -webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
		-webkit-opacity: 1;
        opacity: 1;
	}

	.mask{
		-webkit-opacity: 0;
        opacity: 0;
		position: absolute;
		left: 5%;
		bottom:0;
	}

.mask h3, h4 {
    color: white;
}

.feat {
   grid-area: feat;
    width: 52vw;
    height: 33.6vw;
    background-color: black;
    margin-top: 30%;
}

.wrk {
    align-items: center;
    grid-area: wrk;
   justify-self: end;
    text-align: center;
    width: 17vw;
    height: auto;
   margin-top: 30%;
}

.wrk h2 { 
   position: absolute;
    padding: 8% 0;
}

img.drill { 
    display: block;
    position: relative;
    z-index: -1;
}

#btnwrk {
    grid-area: wrk;
    height: 2em;
    width: 8em;
    margin-top: 10%;
}

/* mobile layout */
@media screen and (min-width: 320px) and (max-width:667px){
    
/* get rid of green shadow on img */    
    img.withbg { 
    display: block;
    box-shadow: none;
    }
       
#wrapper{
  display: grid;
    width: 100vw;
    height: auto;
  grid-template-columns: 100%;
    grid-template-rows: minmax(20px, auto);
    grid-template-areas: 
    "grn"
    "main"
    "gry"
    "wrk"
    "feat"
    "cntt";
     grid-gap: 0;
    margin:0 0 8% 0;
}
    
/* hide default menu */  
    nav.menu1 { 
    grid-area: grn;
        display: none;
} 
    
    nav.menu2 { grid-area: grn;
    justify-self: end;
        display: none;
}
   
/* mone main img to green box */  
.eu { 
    grid-area: grn /main;
    position: relative;
    width: 100%;
    padding-top: 43%;
    z-index: 1;
}
    
.green { 
    width: 70%;
    height: 30%;
    background: #18ec9f;
    padding: 5% 0; 
    position: relative;
    left: 20%;
    margin: 0;
}

.grey { 
    width: 60%;
    height: 220px;
    background-color: #262626;
    color: #fff;
    padding: 5% 20%;
    margin: 0;
}

.grey #btnme{ 
    align-self: center;
  position: relative;
    padding: 1% 2%;
    margin: 7% 0 0 0;
    width: 35%;
}
/* work area */
    /* move feat title a bit to the right */
	.mask{
		left: 15%;
		bottom:4%;
	}

.feat {
   grid-area: feat;
    width: 100%;
    height: auto;
    background-color: black;
    margin-top: 10%;
}

.wrk {
    grid-area: wrk;
    position: relative;
    text-align: left;
    width: 100%;
   margin-top: 17%;
}

.wrk h2 { 
   position: inherit;
    display: inline-block;
    margin-top: 0;
    padding: 0;
    left:12%;
}

img.drill { 
    display: block;
    position: absolute;
    width: 33%;
    top: 0;
    left: 0;
    margin: -9% 0 0 26%;
}

#btnwrk {
    padding: 0;
    margin-top: 0;
    width: 30%;
    left: 12%;
}
}

@media screen and (min-width: 668px) {
    .eumobile { 
        display: none;
}    
}

@media screen and (min-width: 668px) and (max-width:954px){
    .feat {
    margin-top: 20%;
}   
}

@media screen and (min-width: 955px) and (max-width:1110px){
    .feat {
    margin-top: 25%;
}
}

@media screen and (max-width:1280px){
    .mask {
        -webkit-opacity: 1;
    opacity: 1;
    }
}
    
@media screen and (min-width: 1367px) {
        #wrapper{
        justify-content: center;
        width: 1311px;
        margin: 0 auto 80px auto;
}
   
    div.eu { 
    width: 722px;
    margin-top: 20px;
}
    .green { 
    width: 90%;
    height: 90%;
    padding: 8% 13% 13% 13%;
    margin-left: -20%;
}
    .grey { 
    width: 95%;
    height: 80%;
    margin-top: -5%;
    margin-left: 20%;
}
    .feat {
    width: 661px;
    height: 428px;
        margin-top: 120px;
}
    .wrk {
    width: 219px;
}
    .wrk h2 { 
    padding: 104px 0;
} 
}

