div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* main container starts */
#wrapper{
    display: -ms-grid;
    display: grid;
    width: 96vw;
    height: auto;
    -ms-grid-columns: 4% 4% 46% 30% 8% 8%;
        grid-template-columns: 4% 4% 46% 30% 8% 8%;
    -ms-grid-rows: 26vw 27vw 1fr;  
        grid-template-rows: 26vw 27vw 1fr;
            grid-template-areas: 
    "menu menu main grn lang lang"
    "menu menu main gry . ."
    ". feat feat wrk wrk .";
    grid-gap: 0;
    margin: 0 2%;
}


/* main image */

.eu { 
    position: absolute;
    width: 56vw;
    padding-top: 1em;
    z-index: -1;
}

/* main blocks */

.green { 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: grn;
    width: 90%;
    background: #18ec9f;
    padding: 0 12%;
    margin-left: -15%;
}

.grey { 
    -ms-grid-row: 2; 
    -ms-grid-column: 4; 
    grid-area: gry;
    width: 91%;
    background-color: #262626;
    color: #fff;
    padding: 0 13%;
    margin-left: 20%;
}

.grey #btnme{ 
    width: 7em;
    padding: 0;
    margin: 10% 0 0 45%;
}


/* work area */

.imgmask{
    position: relative;
}

.imgmask:hover{
    cursor: pointer;
}

.imgmask:hover img{
    opacity: 0.5;
}

.imgmask:hover .mask{
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 1;
}

.mask{
    opacity: 0;
    position: absolute;
    left: 5%;
    bottom:0;
}

.mask h3, h4 {
    color: white;
}

.feat {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: feat;
    width: 52vw;
    height: 33.6vw;
    background-color: black;
    margin-top: 20%;
}

.wrk {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: wrk;
        -ms-grid-column-align: end;
            justify-self: end;
    text-align: center;
    width: 17vw;
    height: auto;
}

.wrk h2 { 
    position: absolute;
    padding: 8% 0;
}

img.drill { 
    display: block;
    position: relative;
    z-index: -1;
}

#btnwrk {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: wrk;
    width: 8em;
    margin-top: 10%;
}

/* mobile layout */
@media screen and (min-width: 320px) and (max-width:667px){
    
/* get rid of green shadow on img */    
.withbg { 
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
    }
       
#wrapper{
    display: -ms-grid;
    display: grid;
    width: 100vw;
    height: auto;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 0.8fr 1.29fr 0.8fr 0.8fr 1fr;
        grid-template-rows: 0.8fr 1.29fr 0.8fr 0.8fr 1fr;
            grid-template-areas: 
    "grn"
    "main"        
    "gry"
    "wrk"
    "feat";
    grid-gap: 0;
    margin:0 auto;
}
    
/* hide default menu */  
nav.menu1 { 
    -ms-grid-row: 1; 
    -ms-grid-column: 1; 
    grid-area: grn;
    display: none;
} 

nav.menu2 { 
    -ms-grid-row: 1; 
    -ms-grid-column: 1; 
    grid-area: grn;
        -ms-grid-column-align: end;
            justify-self: end;
    display: none;
}
   
/* mone main img to green box */      
.green {
    -ms-grid-row: 1; 
    -ms-grid-column: 1;
    width: 45%;
    background: #18ec9f;
    position: relative;
    left: 20%;
    margin: 0;
}
    
.eu { 
    width: 100%;
    z-index: 1;
    margin-top: 43%;
    padding: 0;
}

.grey {
    -ms-grid-row: 3; 
    -ms-grid-column: 1;
    width: 70%;
    background-color: #262626;
    color: #fff;
    padding: 10% 15%;
    margin: 0;
    z-index: 2;
}

.grey #btnme{ 
    -ms-flex-item-align: center; 
    -ms-grid-row-align: center; 
        align-self: center;
    position: relative;
    margin: 7% 0 0 0;
}
/* work area */
    /* move feat title a bit to the right */
.mask{
    left: 15%;
    bottom:4%;
}

.feat {
   -ms-grid-row: 5;
   -ms-grid-column: 1;
   grid-area: feat;
    width: 100%;
    height: auto;
    background-color: black;
    margin-top: 0;
}

.wrk {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: wrk;
    position: relative;
    text-align: left;
    width: 100%;
}

.wrk h2 { 
    position: inherit;
    display: inline-block;
    padding: 10% 0 0 0;
    left: 12%;
}

img.drill { 
    display: block;
    position: absolute;
    width: 33%;
    top: 20%;
    left: 22%;
    margin: 0;
}

#btnwrk {
    padding: 0;
    margin-top: 0;
    left: 12%;
}
}

@media screen and (min-width: 668px) {
    .eumobile { 
        display: none;
}    
}

@media screen and (max-width:1280px){
    .mask {
        opacity: 1;
    }
}
    
@media screen and (min-width: 1367px) {
    #wrapper{
    display: -ms-grid;
    display: grid;
    width: 1311px;
    height: auto;
    -ms-grid-columns: 4% 4% 44% 32% 8% 8%;
        grid-template-columns: 4% 4% 44% 32% 8% 8%;
    -ms-grid-rows: 380px 380px 1fr;  
        grid-template-rows: 380px 380px 1fr;
            grid-template-areas: 
    "menu menu main grn lang lang"
    "menu menu main gry . ."
    ". feat feat wrk wrk .";
    grid-gap: 0;
    margin: 0 auto;
}
       
    .eu { 
        width: 722px;
        margin-top: 20px;
}
    .green { 
        width: 85%;
        padding: 0 13%;
        margin-left: -15%;
}
    .grey { 
        margin-left: 20%;
}
    .feat {
        width: 661px;
        height: 428px;
        margin-top: 90px;
}
    .wrk {
        width: 219px;
}
    .wrk h2 { 
        padding: 104px 0;
} 
}